# Data Manipulation
pandas==1.5.3
numpy==1.24.3

# Visualization
matplotlib==3.6.2
seaborn==0.12.1

# Machine Learning
scikit-learn==1.2.0
xgboost==1.7.0
imblearn==0.0  # Use to install `imbalanced-learn`

# Model Evaluation and Hyperparameter Tuning
scipy==1.9.3

# Notebook Support
jupyter==1.0.0
jupyterlab==3.6.3

